page {
	width: 100%;
	
}
.gen{
	width: 100%;
		overflow: hidden;
}

.loading {
		margin: 0rpx auto;
		height: 80upx;
		line-height: 80upx;
		text-align: center;
		color: #ccc;
		font-size: 24upx;
		width: 100%;
		margin-bottom: 20upx;
}


.zerenren {
			width: 60rpx;
			height: 60rpx;
			border-radius: 15rpx;
			margin-right: 15rpx;
}

.jing{
	display: flex;
	justify-content: flex-start;
	margin-top: 20rpx;
	margin-bottom: 20rpx;
	padding-left: 15rpx;
	font-weight: 800;
	font-size: 40rpx;
	}
	
.dianwei{
	
	border-radius: 10rpx;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 15rpx;
	font-size: 30rpx;
	font-weight: 620;
	margin-top: 20rpx;
	margin-bottom: 10rpx;
	

	
}	

.xieshi_content{
	width:98%;
   
	border-radius: 25rpx;
	// text-align: center;
	margin:5rpx auto;
	
	padding-left: 15rpx;
	
	
	.xieshi_item{
		 
		
		.xieshi_title{
			font-size: 30rpx;
			font-weight: 550;
			
			border-radius: 10rpx;
			padding-left: 15rpx;
			margin-top: 20rpx;

			
		}
	    .xieshi_item_content{
			padding-left: 15rpx;
			.kong{
				padding:5rpx 10rpx;
				
				.name{
					padding-left: 15rpx;
				border-radius: 10rpx;
					font-weight: 600;
				

					
					
				}
				.dowhat{
					.what{
						
						.what_item{
							border-bottom: 1rpx dashed green;
						}
						.what_item_content{
							margin-top: 10rpx;
						}
					}
				}
			}
		}
	}
	
}




.item {
		margin: 30rpx 0;
		margin-top: 44rpx;
		
		&:first-child {
			margin-top: 0;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
.title {
			font-size: 30rpx;
			position: relative;
			line-height: 1;
			padding-left: 22rpx;
			text-align: left;
			&:before {
				width: 4px;
				height: 15px;
				border-radius: 100rpx;
				background-color: $u-content-color;
				content: '';
				position: absolute;
				left: 6rpx;
				top: -1px;
			}
		}
		}
page{
	width:100%;
	
	}
.container{
  margin: -4rpx auto;
  padding: 5rpx;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .select{
    background-color: #FFFFFF;
   
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15rpx 5rpx;
			  .label{
			  width: 24%;
			  font-size: 26rpx;
			  line-height: 26rpx;
			  text-align: left;
			  padding-left: 10rpx;
			  }
			  .cl-select{
			  font-size: 22rpx;
			  padding: 0;
			  margin: 0;
			  }
    }
	
	
	.select2{
	
	  border-radius: 25rpx;
	  width: 90%;
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;
	  padding: 15rpx 5rpx;
				  .label{
				  width: 30%;
				  font-size: 26rpx;
				  line-height: 26rpx;
				  text-align: center;
				  padding-left: 1rpx;
				  }
				  .cl-select{
				  font-size: 22rpx;
				  padding: 0;
				  margin: 0;
				  }
	  }
	


.content{

  background-color: #FFFFFF;
  
  padding: 5rpx 5rpx;
  line-height: 50rpx;
  .title{
    margin-top: 20rpx;
    font-size: 30rpx;
    font-weight: bold;
    text-align: center;

  }

  .section{
    width: 100%;
    .name{
      width: 100%;
      text-align: left;
      margin-left: 10rpx;
      font-weight: bold;
      font-size: 30rpx;
    }
    .text{
      width: 100%;
      .charpter{
        .headline{
          width: 100%;
          text-align: left;
          margin-left: 35rpx;
          font-weight: bold;
          font-size: 30rpx;
        }
        .body{
          text-indent:20px

        }

      }
    }
  }
}
}



.report{
	
	
}
.height{
	margin-top: 15rpx;
		min-height:80rpx;
	}
	
.height2{
	min-height:50rpx;
	.action:first-child {
	    margin-left: 5rpx;
	    font-size: 30rpx;
	}

}

.avatar{
	width: 40rpx;
	height: 40rpx;
	border-radius: 20rpx;
	margin-right: 10rpx;
}

.fankuicontent{
	margin-bottom: 30rpx;
	margin-left: 2rpx;
	// line-height: 35rpx;
	.what{
		
		.what_item{
			
		}
		.subitem{
			margin-left: 40rpx;
			
		}
		.border{
			border-bottom: dashed 1rpx gray;
		}
		
	}
	
	
}
.biaotou{
	font-size: 25rpx;
			.line{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				.dian{
					width: 55%;
					overflow: hidden;
					
					white-space: nowrap;
					
					text-overflow: ellipsis;
				}
				.zuanjin{
					width: 15%;
				}
				.shuini{
					width: 15%;
				}
				.shuiboli{
					width: 15%;
				}
				.border{
					border-bottom:1rpx dashed gray;
				}
				
			}
		}

	